/*.App {*/
/*  text-align: center;*/
/*  width: 50%;*/
/*  margin: 0 auto;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/


/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 50%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/


/* New Styles Which actually work, with Menu */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
}

.menu {
  width: 200px;
  min-height: 100vh; /* Minimum height of the menu to fill the entire viewport */
  padding: 20px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.menu h2 {
  margin-bottom: 10px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: auto; /* Keep the menu items at the top */
}

.menu li {
  margin-bottom: 8px;
  cursor: pointer;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
